html{
    background-color: turquoise;

}

.container-fluid{
    background-color:turquoise;
}

input[type="text"]{
    background: transparent;
}
input[type="text"]:focus{
    background: transparent;
}